<style>
  .drawer{
    border-left: 2px solid #d42bf0;
    max-width: 450px;
  }
</style>

<mat-drawer-container style="height: 100%" autosize>
  <mat-drawer-content style="background-color: #fff; height: 100%">
    <p>
      <mat-toolbar color="primary">
        Contenido Dinámico
      </mat-toolbar>
    </p>
    
    <div style="padding: 0 30px">
      <button mat-raised-button color="primary" style="margin-bottom: 8px">Abrir Dialog Padre</button> <br>
      <button mat-raised-button color="primary" (click)="abrirSidenav()" style="margin-bottom: 8px">Abrir Sidenav Padre</button>
    
      <div style="border: 1px solid #333333; border-radius: 16px; padding: 16px;">
        <app-child></app-child>
      </div>
    
      <p style="margin-top: 8px">
        <span *ngIf="this.sidenavService.pagina == ''">No se ha abierto un sidenav aun</span>
        <span *ngIf="this.sidenavService.pagina !== ''">El último sidenav fue abierto desde el {{this.sidenavService.pagina}}</span>
      </p>
    </div>
  </mat-drawer-content>

  <mat-drawer #sidenav mode="over" position="end" class="drawer">
    <app-sidenavs></app-sidenavs>
  </mat-drawer>
</mat-drawer-container>